-# frozen_string_literal: true
.modal-dialog
  .modal-content
    = simple_form_for(@programme, remote: true) do |f|
  
      .modal-header
        %h4.modal-title Edit Programme
        %button.close{ type: :button, data: { dismiss: :modal } }
          %span &times;
      .modal-body
        = f.input :code, as: :string, label: 'Degree Code'
        = f.input :name, as: :string, label: 'Degree Name'

      .modal-footer
        = f.button :submit, "Update Programme", :class => "btn btn-primary btn-sm tablebutton"