$("#activities-table").html($('#{j render 'activities_table'}'));
$("#search").html($('#{j render 'search'}'));
$("#actbuttonwrapper").html($('#{j render 'new_csv_buttons'}'));
$('.select2').select2();